*Joaquin, Marc Christopher C.* <br>
*58006* <br>
*Engr. Dylan Lopez* <br>

# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [1]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [2]:
### Single Access
employees[1]

'Alex'

In [3]:
### Multiple Access
employees[0:3:1]

['John', 'Alex', 'Winston']

In [4]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print(employee)

John
Alex
Winston
Bob
Golbi

In [5]:
### Multiple Access via Loops
for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [6]:
### Modifying Elements

In [22]:
### Adding Elements
### employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi']
employees.append("Dorothy")

employees.insert(2, "Ozai")

###print(employees)

['John', 'Alex', 'Ozai', 'Winston', 'Bob', 'Golbi', 'Dorothy']

In [31]:
### Removing Elements
employees.pop() 

employees.remove("Ozai")

del employees[-1]

employees.clear()

print(employees)

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [36]:
### Declaration
img1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
img2_colors = (64, 128, 111)

In [39]:
### Single Access
red = img1_colors[1]

In [ ]:
### Multiple Access
employees[0:2:1]

In [ ]:
### Multiple Access via Loops
for color in img_colors:
    print(color)

In [59]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [62]:
### Modifying Elements
car_xpos = (3, 5, 12, 15)
car_xpos[0]

3

In [ ]:
### Removing Elements

del img1_colors(0)

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [95]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}

In [96]:
### Accessing Elements
bakery_A[0]

TypeError: 'set' object is not subscriptable

In [5]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

cannele
eclair
coffee
croissant
cracker
bread
parfait
tea

In [6]:
### Removing an Element

bakery_A.remove('cannele')

In [10]:
### Membership
'coffee' in bakery_A
### Subsets
order = {'coffee', 'cinnamon roll'}
order.issubset(bakery_A)

True

In [13]:
### Union
baker_st = bakery_A.union(bakery_B)
baker_st

{'bread',
 'cannele',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [15]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [16]:
### Difference
bakery_A.difference(bakery_B)

{'cannele', 'cracker', 'eclair', 'parfait'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [156]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [157]:
## Accessing
bakery_A_prices['bread']

60

In [158]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [159]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [160]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [161]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [162]:
## Update / Modification
bakery_A_prices['bread'] = 60*0.9

In [163]:
## Adding Elements
bakery_A_prices['coffee'] = 110

In [35]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 60, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 60, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to pracitce some practical dataset operations.

In [216]:
prime = [2,3,5,7,11,13,15,17,19,23]
odd = [1,3,5,7,9,11,13,15,17,19,21, 23]

### Intersection / Similarities

In [217]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19
23

In [218]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect
print (num)

23

In [219]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23]

### Subtraction / Uniqueness

In [220]:
for num in prime:
    if num not in odd:
        print(num)

2

In [221]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [222]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

### Union / Merge

In [223]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1, 2, 3, 3, 5, 5, 7, 7, 9, 11, 11, 13, 13, 15, 15, 17, 17, 19, 19, 21, 23, 23]

In [224]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [225]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [226]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [229]:
prime_u_odd = union(prime, odd)
#print(prime_u_odd)

None

## Activities

### Lists

In [11]:
### START YOUR CODE BELOW HERE ###
#Lists
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]

In [12]:
#Single Access
Countries [3]

'Philippines'

In [13]:
#Multiple Access
Countries [0:2:1]

['Europe', 'USA']

In [15]:
### Multiple Access (Loops)
for countries in Countries:
    print(countries)

Europe
USA
Maldives
Philippines
Japan

In [22]:
#Adding Elements
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.append("Canada")
print(Countries)

['Europe', 'USA', 'Maldives', 'Philippines', 'Japan', 'Canada']

In [23]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.insert(3, "New Zealand")
print(Countries)

['Europe', 'USA', 'Maldives', 'New Zealand', 'Philippines', 'Japan']

In [24]:
### Removing Elements
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.pop()

'Japan'

In [25]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.pop(3)

'Philippines'

In [28]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.remove("Philippines")
print(Countries)

['Europe', 'USA', 'Maldives', 'Japan']

In [30]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
del Countries [-1]
print(Countries)

['Europe', 'USA', 'Maldives', 'Philippines']

In [32]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.clear()
print(Countries)

[]

In [35]:
Countries = ["Europe", "USA", "Maldives", "Philippines", "Japan" ]
Countries.clear()
print(Countries)

[]

### Tuples

In [41]:
#Tuples
Rank = ("Gold", "Ruby", "Emerald", "Diamond")  
Dollars = (1000, 2000, 3000, 4000)

In [99]:
#Single Access
TargetRank2020 = Rank[0]
print(TargetRank2020)

Gold

In [45]:
TargetIncome = Dollars [0:4:1]
print(TargetIncome)

(1000, 2000, 3000, 4000)

In [46]:
#Multiple Access (Loops)
for rank in Rank:
    print(rank)

Gold
Ruby
Emerald
Diamond

In [47]:
#Multiple Access (Loops)
for income in Dollars:
    print(income)

1000
2000
3000
4000

In [48]:
#Multiple Access via Parallel Iteration
for RankAdvancement in zip(Rank, Dollars):
    print(f'{RankAdvancement}')

('Gold', 1000)
('Ruby', 2000)
('Emerald', 3000)
('Diamond', 4000)

In [67]:
### Modifying Elements
R = Rank[0]
D = Dollars [0]
print(R)
print(D)

Gold
1000

In [72]:
### Removing Elements
Dollar = list(Dollars)
del Dollar [-1]
print(Dollars)

(1000, 2000, 3000, 4000)

In [74]:
### Merging Tuples
Business = Rank + Dollars
print(Business)

('Gold', 'Ruby', 'Emerald', 'Diamond', 1000, 2000, 3000, 4000)

### Sets

In [126]:
#Sets
shoe_brand = {'adidas', 'nike', 'otto', 'bench', 'sperry', 'LV'}
clothing_brand = {'Gucci', 'Zara', 'bench', 'nike', 'LV', 'adidas'}

In [127]:
#Accessing Elements
print(shoe_brand) 
print(clothing_brand)

{'nike', 'sperry', 'adidas', 'LV', 'bench', 'otto'}
{'nike', 'Zara', 'adidas', 'Gucci', 'LV', 'bench'}

In [128]:
#phone_brand[0] it will cause error.
Shoe = list(shoe_brand)
Shoe[1]

'sperry'

In [129]:
#Multiple Access via Loops
for Shoes in shoe_brand:
    print(Shoes)

nike
sperry
adidas
LV
bench
otto

In [130]:
#Removing an Element
shoe_brand.remove("LV")
print(shoe_brand)

{'nike', 'sperry', 'adidas', 'bench', 'otto'}

In [135]:
#Membership
'nike' in shoe_brand
### Subsets
CustomersChoice = {'nike','adidas'}
CustomersChoice.issubset(shoe_brand)

True

In [139]:
#Union
Brands = shoe_brand.union(clothing_brand)
Brands

{'Gucci', 'LV', 'Zara', 'adidas', 'bench', 'nike', 'otto', 'sperry'}

In [140]:
#Intersection
shoe_brand.intersection(clothing_brand)

{'adidas', 'bench', 'nike'}

In [141]:
#Difference
shoe_brand.difference(clothing_brand)

{'otto', 'sperry'}

### Dictionaries

In [184]:
#Dictionary
JoaquinFamsAge = {'Chris' : 20, 
            'Deus': 30, 
            'KC': 34, 
            'Walter': 65,
            'Baby': 60
           }

In [185]:
#Accessing
JoaquinFamsAge['Chris']

20

In [186]:
## Accessing via Loops
for Family in JoaquinFamsAge:
    print(Family)

Chris
Deus
KC
Walter
Baby

In [187]:
for Family in JoaquinFamsAge:
    print(JoaquinFamsAge[Family])

20
30
34
65
60

In [188]:
for age in JoaquinFamsAge.values():
    print(age)

20
30
34
65
60

In [189]:
for name, age in JoaquinFamsAge.items():
    print(name, age)

Chris 20
Deus 30
KC 34
Walter 65
Baby 60

In [190]:
#Update / Modification
JoaquinFamsAge['Chris'] = 20 + 1
print(JoaquinFamsAge['Chris'])

21

In [191]:
#Adding Elements
JoaquinFamsAge['Yohan'] = 1

In [192]:
## Removing Elements
print(JoaquinFamsAge)
print(JoaquinFamsAge.pop('Yohan'))
print(JoaquinFamsAge)

{'Chris': 21, 'Deus': 30, 'KC': 34, 'Walter': 65, 'Baby': 60, 'Yohan': 1}
1
{'Chris': 21, 'Deus': 30, 'KC': 34, 'Walter': 65, 'Baby': 60}

## Dataset Operations

In [200]:
bytwos = [2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40]
byfours = [4,8,12,16,20,24,28,32,36,40]

In [201]:
#Intersection/Similarities
for identical in bytwos:
    if identical in byfours:
        print(identical)

4
8
12
16
20
24
28
32
36
40

In [202]:
#Intersection/Similarities
def intersection(list1, list2):
    intersect = [identical for identical in list1 if identical in list2]
    return intersect
print (identical)

40

In [203]:
bytwosandbyfours = intersection(bytwos, byfours)
bytwosandbyfours

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [205]:
for identical in bytwos:
    if identical not in byfours:
        print(identical)

2
6
10
14
18
22
26
30
34
38

In [206]:
def subtraction(list1, list2):
    less  =[identical for identical in list1 if identical not in list2]
    return less

In [207]:
bytwolessbyfours = subtraction(bytwos, byfours)
bytwolessbyfours

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [209]:
#Union/Merge
combined = bytwos + byfours
combined.sort()
combined

[2,
 4,
 4,
 6,
 8,
 8,
 10,
 12,
 12,
 14,
 16,
 16,
 18,
 20,
 20,
 22,
 24,
 24,
 26,
 28,
 28,
 30,
 32,
 32,
 34,
 36,
 36,
 38,
 40,
 40]

In [210]:
combinedwithnorepeatition = intersection(bytwos, byfours) + subtraction(bytwos, byfours) + subtraction(bytwos, byfours)
combinedwithnorepeatition.sort()
combinedwithnorepeatition

[2,
 2,
 4,
 6,
 6,
 8,
 10,
 10,
 12,
 14,
 14,
 16,
 18,
 18,
 20,
 22,
 22,
 24,
 26,
 26,
 28,
 30,
 30,
 32,
 34,
 34,
 36,
 38,
 38,
 40]

In [211]:
Combinedwithnorepeatition = list(set(bytwos).union(set(byfours)))
Combinedwithnorepeatition

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [230]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [232]:
bytwosunionbyfours = union(bytwos, byfours)
#print(bytwosunionbyfours)
### END OF CODE ###

## Scratch Area: My Fandoms

You can use the area below to try your own code.

In [233]:
Hobbies = ["Basketball","Music,Anime","Reading Books","Arts","Video Games"]
Inspiration = ["NBA","Daddy","Sister","Mentor","Brother","Gamers"]

In [236]:
HunionI = Hobbies + Inspiration
HunionI.sort()
HunionI

['Arts',
 'Basketball',
 'Brother',
 'Daddy',
 'Gamers',
 'Mentor',
 'Music,Anime',
 'NBA',
 'Reading Books',
 'Sister',
 'Video Games']